{% extends 'ajuda/base.html' %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Anuncios</h1>
    <a id="add-link" href="anuncioNew/">
        <div class="col-2 add-div">
           <i class="fas fa-plus"></i>Anunciar Aqui
        </div>
    </a>
    <div class="col-9 search-div">
        <input class="form-control" type="text" id="search" name="search"
            placeholder="Digite o anuncio que deseja encontrar">
        <i class="fas fa-search"></i>
    </div>
    <ul class="ajuda-list">
        {% for anuncio in anuncio %}
        <li class="ajuda-item">
            <span><a href="{% url 'ajuda:anuncio' pk=anuncio.pk %}">{{anuncio.tipoSv}}</a></span>
            <a href="delete/{{anuncio.pk}}"><span><i class="fas fa-trash"></i></span></a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}