{% extends 'blog/base.html' %}

{% block content %}
    {% for Anuncio in anuncios %}
        <div class="anuncios">
            <div class="data">
                <p>Publicado por {{ Anuncio.autor }} em: {{ Anuncio.data_publicacao}}.</p>
            </div>
            <h2><a href="{% url 'post_detail' pk=Anuncio.pk %}">{{ Anuncio.tipoSv }}</a></h2>
            <p>{{ Anuncio.descSv|linebreaksbr }}</p>
            <p>Telefone: {{ Anuncio.telefone }}</p>
           <p>Email: {{ Anuncio.email }}</p>
           <br>
        </div>
    {% endfor %}
{% endblock %}