/* CONFIGURAÇÃO DA DASHBOARD */

.dashboard {
    padding: 0;
    width: 100%;
    display: block;
}

.dashboard h4 {
    font-size: 20px;
}

.dashboard span {
    font-size: 40px;
    display: block;
    width: 100%;
}

.dashboard-box {
    float: left;
    background-color: #dfdfdf;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: 130px;
    width: 32%;
    text-align: center;
}