h1,
h2,
h3,
h4 {
    font-family: Arial;


}

/* NavBar */
.navbar-brand{
    font-family: 'Times New Roman'
}

.centralizar{
    position:absolute; 
    top:50%;
    left:80%;
    transform: translate(-50%, -50%);
    
}

/* meio home */
div.image{
    height: 100vh;
    background-color: navy;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div.main{
   font-family: Segoe UI;
   font-size: 40px; 
   color: #000000;
   font-variant-position: center;
}
div.main p{
    font-family: Segoe UI;
    font-size: 32px; 
    color: #000000;
    font-variant-position: center;
 }

/* meio anuncio */


/* form*/

.row {
    align-content: center;
}

/* login */

.auth-card {
    margin-bottom: 30px;
}

.login-div {
    padding: 0%;
}

/* rodapé */
.rodape {
    background-image: linear-gradient(to bottom, rgb(30, 30, 37), black);
    height: 200px;
    border-top: 2px solid rgb(4, 7, 12);
}

.roda-itens{
    color: black;
    text-align: center;
    font-family: Arial black;
}

footer p {
    color: #f5f5ff;
    text-align: center;
    top: 500%;
    position: relative;
}

.pe {
    text-align: center;
}

