{% extends "anuncio/base.html" %}

{% block subtitle %}- {{ anuncio.tipoSv }}{% endblock %}

{% block content %}
    <div class="anuncioDetail">
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'anuncio:anuncioEdit' pk=anuncio.id %}">Editar</a>
        <a class="btn btn-delete" href="{% url 'anuncio:anuncioDelete' pk=anuncio.id %}">Apagar</a>
        {% endif %}
        {% if anuncio.data_publicacao %}
            <div class="data">
                {{ anuncio.data_publicacao}}
            </div>
        {% endif %}
        <h2>{{ anuncio.tipoSv }}</h2>
        <p>{{ anuncio.descSv|linebreaksbr }}</p>
    </div>
{% endblock %}