{% extends 'anuncio/base.html' %}

{% block title %}- Anúncios{% endblock %}


    {% block content %}
        {% if request.user.is_authenticated %}
            <div class="anuncio">
                <br>
                {% for Anuncio in object_list %}
                    <div class="anuncios">
                        <h2><a href="{% url 'anuncio:anuncioDetail' pk=Anuncio.pk %}">{{ Anuncio.tipoSv }}</a></h2>
                        <div class="data">
                            <p>Publicado por {{ Anuncio.autor }} em: {{ Anuncio.data_publicacao}}.</p>
                        </div>
                        <br>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
