
<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AjudaAqui {% block subtitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/anuncio.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
    <header class="page-header">
    <div class="cabeca">
        <h1><a href="/">Ajudaqui</a></h1>
        <div class="botoes_cabeca">
            <a class="botao_create" href="{% url 'anuncio:anuncioCreate' %}">Novo Anúncio</a>
        </div>
    </div>
    </header>
    <div class="container-fluid">
        {% block content %}
        {% endblock %} 
    </div>
    <div class="rodape">
        <footer>
            <p>AjudaAqui<br>Criadores: Ruan e Vinicius.</p>
        </footer>
    </div>
</body>
</html>